* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
    background: rgb(4, 99, 99);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.app__header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    color: #f4f4f4;
    box-shadow: 1px 1px 3px rgb(81, 243, 243);
}

.app__main {}

.app__footer {}